<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <h1>Welcome to the Ranker App!</h1>

    <p>This application will allow you to rank a selection of your favorite things, be they books, movies, songs, restaurants, or whatever else you might enjoy!</p>

    <p>To generate a perfectly accurate ranking, you will need to repeatedly choose your favorite of two things. Once you have made enough selections, you will get to see all of your preferences in the correct order.</p>

    <p>In order to create a ranking, you will first need to provide some items to work with. To do so, please choose your preferred input option from the Upload menu.</p>

    <p id="footer">Powered by Electron and TypeScript.</p>

    <!-- You can also require other files to run in this process -->
    <!-- <script src="./renderer.js"></script> -->
  </body>
</html>